@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  img {
	max-width: 100%;
	height: auto;
  }

.container {
	width: 1400px;
	margin: 0 auto;
	padding: 30px 0;
}

h1 {
	font-family: 'Roboto Slab', serif;
	font-weight: bold;
	font-size: 55px;
	line-height: 101.38%;
	color: #000000;
	margin: 65px 0;
}

header {
	display: flex;
}

header p {
	font-family: 'Roboto', sans-serif;
	font-weight: normal;
	font-size: 24px;
	line-height: 150%;
	color: #000000;
	margin: 50px 0;
}

header .items {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
}

header .item {
	width: 55.54%;
	margin-right: auto;
}

header .photo {
	position: relative;
	width: 366px;
	display: flex;
	justify-content: center;
	
}


.photo-first {
	width: 314px;
	height: 315px;

}


.photo-first-ellipse {
	width: 366px;
	height: 59px;
	position: absolute;
	bottom: 0;
	z-index: -1;
	transform: translate(0,50%);
}

.photo-mobile {
	display: none;
}

section .photo {
	width: 232px;
	margin-right: 100px;
	position: relative;
	display: flex;
}

.photo-second {
	width: 232px;
	height: 203px;
}

.photo-second-ellipse {
	width: 189px;
    height: 32px;
    position: absolute;
    bottom: 0;
    left: 15%;
    z-index: -1;
    transform: translate(0,50%);
}

h3 {
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	font-size: 25px;
	line-height: 130%;
	color: #000000;
}

section .items {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	margin: 20px 0;
}

section p {
	font-family: 'Roboto', sans-serif;
	font-weight: normal;
	font-size: 18px;
	line-height: 130%;
	color: #000000;
	display: inline-block;
	width: 150px;
	margin-right: 100px;
}